<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Homepage</title>


    <style>
      .sidebar_left {
        background-color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: 220px;
        padding: 0px 0px;
        float:left
      }
      body {
        background-color: #FFCC00;
      }
      .container {
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
      }
      .container button {
        position: absolute;
        right: 2vw;
        padding: 5px;
      }
      .container-2 button {
        position: absolute;
        right: 15vw;
        margin-top: 10px;
        }
      .container-1 button {
        position: absolute;
        right: 15vw;
      }
      .navbar navbar-expand-lg navbar-light bg-light {
        margin-bottom: 10px
      }
      .footer__menu__heading {
        margin-top: 10px;
        padding: 25px;
        background-color: #FFFFFF;
      }
      .footer {
        background-color: #FFFFFF;
        clear: left;
      }
      .cathegory{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 10px;
      }
      .title-div{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 7px 30px;
        font-size: 1.1em;
      }
      .col{
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .container-games{
        margin-left: 300px;
        float: right;
      }
      .row_1{
        margin-left: 300px;
        margin-top: 50px;
      }
      .container-sidebar{
        margin-top: 60px;
      }
      .form-label{
        margin-top: 10px;
      }
    </style>
</head>

{% block head %}

{% endblock %}

<body>
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DiceDropTwice</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'boardgames:cathegory_list' %}">Все категории</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'boardgames:boardgame_list' %}">Настольные игры</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Дополнения</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'boardgames:boardgame_new' %}">Новинки</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ms-auto">

          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'myauth:logout' %}">Выйти из личного кабинета</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'myauth:register' %}">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'myauth:login' %}">Вход</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-2">
    <button type="button" class="btn btn-light"><a href="{% url 'cart:cart_detail' %}">
        Корзина: {{ cart.get_total_price }}руб.
    </a></button>
  </div>
    {% if user.is_authenticated %}
    <div class="container">
    <button type="button" class="btn btn-light"><a href="{% url 'orders:order_list' %}">Мои заказы</a></button>
  </div>
    {% else %}
  <div class="container">
    <button type="button" class="btn btn-light"><a href="{% url 'orders:no_list' %}">Мои заказы</a></button>
  </div>
    {% endif %}
  <div class = 'container-sidebar'>

        <div class="sidebar_left">
            <div class="title-div"><a class="title " href="{% url 'boardgames:boardgame_list' %}">Настольные игры</a></div>
                <ul class="category-left__categories">
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_adventures' %}">Приключения</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_company' %}">Для компании</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_hardcore' %}">Хардкорные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_economy' %}">Экономические</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_child' %}">Детские</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_brodilki' %}">Бродилки</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_adult' %}">Для взрослых 18+</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="{% url 'boardgames:boardgame_family' %}">Для всей семьи</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Детективные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Дуэльные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Логические</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Командные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Стратегические</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Для вечеринки</a>
                    </div>
                </ul>
            </div>


   {% block body_1 %}

  {% endblock %}
  </div>

  {% block body %}

  {% endblock %}

<!--   {% block body_2 %}-->
<!-- <div class="cart">-->
<!--            {% with total_items=cart|length %}-->
<!--                {% if cart|length > 0 %}-->
<!--                    Ваша корзина:-->
<!--                    <a href="{% url 'cart:cart_detail' %}">-->
<!--                        {{ total_items }} item{{ total_items|pluralize }},-->
<!--                        {{ cart.get_total_price }}руб.-->
<!--                    </a>-->
<!--                {% else %}-->
<!--                    Ваша корзина пуста.-->
<!--                {% endif %}-->
<!--            {% endwith %}-->
<!--        </div>-->
<!--   {% endblock %}-->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer__navigation">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <nav class="footer__menu">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 footer__menu--col">
                      <div class="footer__menu__heading">Доставка и Оплата</div>
                        <ul>
                          <li><a href="/oplata">
                            <img src="https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/01/menu/footer/combopay-350x35.png" alt="">
                            </a>
                          </li>
                          <li><a href="https://hobbygames.ru/oplata">Способы оплаты</a></li>
                          <li><a href="https://hobbygames.ru/dostavka">Службы доставки</a></li>
                          <li><a href="https://hobbygames.ru/contacts">Адреса магазинов</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 footer__menu--col">
                      <div class="footer__menu__heading">Покупателям</div>
                        <ul>
                          <li>Подобрать игру</li>
                          <li>Бонусная программа</li>
                          <li>Информация о заказе</li>
                          <li><a href="https://hobbygames.ru/vozvrat-tovara">Возврат товара</a></li>
                          <li><a href="https://hobbygames.ru/pomoshh-s-pravilami">Помощь с правилами</a></li>
                          <li><a href="https://hobbygames.ru/juridicheskim-licam">Юридическим лицам</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 footer__menu--col">
                      <div class="footer__menu__heading">DiceDropTwice</div>
                        <ul>
                          <li>О магазине</li>
                          <li><a href="https://hobbygames.ru/franchising">Франчайзинг</a></li>
                          <li>Игры оптом</li>
                          <li>Работа у нас</li>
                          <li><a href="https://hobbygames.ru/news">Новости</a></li>
                          <li><a href="https://hobbygames.ru/contacts">Контакты</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6 footer__menu--col">
                      <div class="footer__menu__heading">Наши проекты</div>
                        <ul>
                          <li><a href="https://hobbyworld.ru/">Hobby World</a></li>
                          <li><a href="http://igrokon.org/">Igrokon</a></li>
                          <li><a href="http://www.warforge.ru/">Warforge</a></li>
                          <li><a href="https://www.mirf.ru/">Мир фантастики</a></li>
                          <li><a href="https://berserk.ru/">Берсерк</a></li>
                          <li><a href="https://crowdrepublic.ru/">CrowdRepublic</a></li>
                        </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>