{% extends 'boardgames/base.html' %}

{% block head %}

   <style>
      .container_23{
        background-color: #FFFFFF;
        margin-left: 270px;
        width:900px;
      }
       .container_25{
        padding: 20px 20px;
      }
      .container_26{
        margin-left: 270px;
      }
       .card-body{
        margin-left: 255px;
      }
   </style>

{% endblock %}

{% block body_1 %}

    <div class="container_23">

      <div class="container_25">
          <h3><strong>{{boardgame.name}}</strong></h3>
          <div class="boardgameImg">
                                {% for boardimg in boardgame.boardimg.all %}
                                 <img src="{{ boardimg.img.url }}" alt="Картинка" style="max-height:300px">
                                {% endfor %}
                                </div>
        <p>Производитель: {{boardgame.producer}}</p>
        <p>Год выпуска игры: {{boardgame.issue_year}}</p>
        <p>Возраст: {{boardgame.min_age_of_player}} +</p>
        <p>Цена (без учета доставки): {{boardgame.price}} руб.</p>
        <p>{{boardgame.description}}</p>
        <p>{{boardgame.how_to_play}}</p>

      </div>
<!--      <a href="{% url 'boardgames:index' %}">Вернуться к списку настольных игр</a>-->
    </div>

<!--<form action="{% url 'cart:cart_add' boardgame.pk %}" method="post">-->
<!--  <form method="post" action="{% url 'cart:cart_add' boardgame.pk %}">-->
<!--    {{ cart_product_form }}-->
<!--    {% csrf_token %}-->
<!--    <input type="submit" value="Add to cart">-->
<!--    <button class="btn btn-light" type="submit">Добавить в корзину</button>-->
<!--  </form>-->

<form method="post" action="{% url 'cart:cart_add' boardgame.pk %}">
                        <div class="card-body">
                            <button class="btn btn-light" type="submit">Добавить в корзину</button>

                            {% csrf_token %}
                                            <label class="form-label" for="id_quantity">Количество:</label>
                                            <input type="number" name="quantity" value="1" min="1"
                                                   required id="id_quantity"/>

                        </div>
                    </form>

<div class="container_26">
    <button type="button" class="btn btn-light"><a href="{% url 'boardgames:boardgame_list' %}">
        Продолжить покупки</a></button>
</div>
{% endblock %}


