{% extends 'boardgames/base.html' %}

{% block head %}

   <style>
      .sidebar_left {
        background-color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 220px;
        padding: 0px 0px;
        float:left
      }
      .cathegory{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px 10px;
      }
      .title-div{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 7px 30px;
        font-size: 1.1em;
      }
      .col{
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .container-games{
        margin-left: 300px;
        float: right;
      }
      .row_1{
        margin-left: 300px;
        margin-top: 50px;
      }
      .container-sidebar{
        margin-top: 60px;
      }
   </style>

{% endblock %}

{% block body %}

<div class = 'container-sidebar'>

        <div class="sidebar_left">
            <div class="title-div"><a class="title " href="#">Настольные игры</a></div>
                <ul class="category-left__categories">
                    <div class = 'cathegory'>
                      <a href="#">Приключения</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Для компании</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Хардкорные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Экономические</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Детские</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Бродилки</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Для взрослых 18+</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Для всей семьи</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Детективные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Дуэльные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Логические</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Командные</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Стратегические</a>
                    </div>
                    <div class = 'cathegory'>
                      <a href="#">Для вечеринки</a>
                    </div>
                </ul>
            </div>

        <div class="row_1">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><u>Магазин настольных игр DiceDropTwice</u></h4
                        <p class="card-text">

                          Hobby Games – это интернет-магазин настольных игр и аксессуаров,
                          а также широкая сеть розничных магазинов по всей России и странам СНГ.
                          У нас представлен широкий выбор самых разных настольных игр:
                          от простых и весёлых игр для семьи или вечеринок до сложных стратегий
                          или ролевых систем. Всего в нашем магазине более 7000 позиций!

                          На наших полках вы можете найти игры следующих брендов и производителей
                          (и не только!):
                          <p>- Magic The Gathering
                          - Zvezda
                          - Fantasy Fight Games
                          - Hasbro
                          - KOSMOS
                          - HABA</p>
                        </p>
                        <a href="{% url 'boardgames:boardgame_list' boardgame.pk %}" class="btn btn-primary">Все настольные игры</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
